<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QQZone</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicServlet</display-name>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.TopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/topic.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicItemServlet</display-name>
    <servlet-name>TopicItemServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.TopicItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicItemServlet</servlet-name>
    <url-pattern>/topicItem.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyServlet</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/reply.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostReplyServlet</display-name>
    <servlet-name>HostReplyServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.HostReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostReplyServlet</servlet-name>
    <url-pattern>/hostReply.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTopicServlet</display-name>
    <servlet-name>AddTopicServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.AddTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopicServlet</servlet-name>
    <url-pattern>/addTopic.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfo</display-name>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>com.qqzone.servlets.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/updateInfo.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTopicServlet</display-name>
    <servlet-name>DeleteTopicServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.DeleteTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTopicServlet</servlet-name>
    <url-pattern>/deleteTopic.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReplyServlet</display-name>
    <servlet-name>DeleteReplyServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.DeleteReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReplyServlet</servlet-name>
    <url-pattern>/deleteReply.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHostReplyServlet</display-name>
    <servlet-name>DeleteHostReplyServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.DeleteHostReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHostReplyServlet</servlet-name>
    <url-pattern>/deleteHostReply.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/regist.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendServlet</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.qqzone.servlets.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/addFriend.action</url-pattern>
  </servlet-mapping>
</web-app>